@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(230, 230, 230);
    font-family: 'Lato', sans-serif;
}